<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    

    <main id="chat-container">
        <div id="app" >
            <aside>
                <header>
                    <div class="aside-header">
                        <img src="img/avatar_io.jpg" alt="Alessia">
                        <div>
                            <p>Alessia</p>
                        </div>
                    </div>
                    <div>

                    </div>
                    

                </header>
                <section id="notifications-container">
                    <div></div>
                    <div></div>
                </section>
                <section id="search-container">
                    <div class="search-input">
                        <div></div>
                        <input type="text" placeholder="Cerca">
                    </div>
                </section>
                <main>
                    <div v-for="(contact,i) in contacts" class="single-contact-container" 
                    :class="i == activeContat 'active' :''"
                    @click="change(i)"
                    >
                        <img :src="contact.avtar" :alt="contact.name">
                        <div>
                            <p>
                                {{contact.name}}
                            </p>
                            <p class="last-message-info">
                                Ultimo messaggio inviato
                            </p>
                        </div>
            
                        <span class="last-message-time">
                            12:00
            
                        </span>
                    </div>
            
                    <!--<div class="single-contact-container ">
                        <img src="img/avatar_2.jpg" alt="Michele">
                        <div>
                            <p>
                                Michele
                            </p>
                            <p class="last-message-info">
                                Ultimo messaggio inviato
                            </p>
                        </div>
            
                        <span class="last-message-time">
                            12:00
            
                        </span>
                    </div>
            
                    <div class="single-contact-container ">
                        <img src="img/avatar_3.jpg" alt="Michele">
                        <div>
                            <p>
                                Michele
                            </p>
                            <p class="last-message-info">
                                Ultimo messaggio inviato
                            </p>
                        </div>
            
                        <span class="last-message-time">
                            12:00
            
                        </span>
                    </div>
            
                    <div class="single-contact-container ">
                        <img src="img/avatar_4.jpg" alt="Michele">
                        <div>
                            <p>
                                Michele
                            </p>
                            <p class="last-message-info">
                                Ultimo messaggio inviato
                            </p>
                        </div>
            
                        <span class="last-message-time">
                            12:00
            
                        </span>
                    </div>
            
                    <div class="single-contact-container ">
                        <img src="img/avatar_5.jpg" alt="Michele">
                        <div>
                            <p>
                                Michele
                            </p>
                            <p class="last-message-info">
                                Ultimo messaggio inviato
                            </p>
                        </div>
            
                        <span class="last-message-time">
                            12:00
            
                        </span>
                    </div>
            
                    <div class="single-contact-container ">
                        <img src="img/avatar_6.jpg" alt="Michele">
                        <div>
                            <p>
                                Michele
                            </p>
                            <p class="last-message-info">
                                Ultimo messaggio inviato
                            </p>
                        </div>
            
                        <span class="last-message-time">
                            12:00
            
                        </span>
                    </div>
            
                    <div class="single-contact-container ">
                        <img src="img/avatar_7.jpg" alt="Michele">
                        <div>
                            <p>
                                Michele
                            </p>
                            <p class="last-message-info">
                                Ultimo messaggio inviato
                            </p>
                        </div>
            
                        <span class="last-message-time">
                            12:00
            
                        </span>
                    </div>
            
                    <div class="single-contact-container">
                        <img src="img/avatar_8.jpg" alt="Michele">
                        <div>
                            <p>
                                Michele
                            </p>
                            <p class="last-message-info">
                                Ultimo messaggio inviato
                            </p>
                        </div>
            
                        <span class="last-message-time">
                            12:00
            
                        </span>
                    </div> -->
                </main>
            </aside>
            <section>
                <header>
                    <div class="section-header">
                        <img :src="contacts[activeContact].avtar" :alt="contacts[activeContact].avtar">
                        <div>
                            <p>{{contacts[activeContact].name}}</p>
                        </div>
                    </div>
                    <div>

                    </div>
                    
                </header>

                <main>
                    <div v-for="(singleMessage,i)in contacts[activeContact].messages " 
                    class="single-message-container sent" 
                    :class="singleMessage.status == 'sent' 'sent' : 'recive' " >
                        <div class="single-message-item">
                            <div class="message-text">
                                {{singleMessage.message}}
                            </div>
                            <div class="message-time">
                                {{singleMessage.date}}
                            </div>
                        </div>
                    </div>
                    <!--<div class="single-message-container recive">
                        <div class="single-message-item">
                            <div class="message-text">
                                Tutto fatto!
                            </div>
                            <div class="message-time">
                                16:15
                            </div>
                        </div>
                    </div>> -->
                </main>

                <footer>
                    <div></div>
                    <div class="message-input-container"></div>
                    <div></div>
                </footer>
            </section>


        </div>
        
    </main>


    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/scripts.js" type="text/javascript"></script>
</body>
</html>